[submodule "core"]
	path = core
	url = https://github.com/CATMIAOZHI/LSPosed.git
	branch = master
[submodule "patch/libs/manifest-editor"]
	path = patch/libs/manifest-editor
	url = https://github.com/CATMIAOZHI/ManifestEditor.git
